* {
	padding: 0;
	margin: 0;
}
html {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  background-image: url('../image/landscape1.jpg');
	background-size: cover;
  background-repeat: no-repeat;
	overflow: hidden;
}

#score_help {
  text-align: center;
  font-size: 25px;
  background-color: rgb(237, 237, 237);
}

#score_1 {
  position: absolute;
  color: rgb(66, 66, 66);
  font-size: 30px;
  top: 45%;
  left: 30%;
}

#branch {
  position: absolute;
  height: 2%;
  width: 100%;
  background-color: #7b2e00;
  top: 23%;
}

.hen {
  position: absolute;
  height: 25%;
  width: 12%;
  top: 3%;
	background: url('../image/hen.png');
  background-size: cover;
  z-index:20;
}
#hen1 {
	left: 20%;
}
#hen2 {
	left: 40%;
}
#hen3 {
	left: 60%;
}

.egg {
	position: absolute;
	width: 3%;
	height: 6%;
  top: 18%;
  z-index: 10;
}
#egg1 {
	left: 25%;
}
#egg2 {
	left: 45%;
}
#egg3 {
	left: 65%;
}

#splash1{
	display: none;
	position: absolute;
	background-image: url('../image/splash.png');
	bottom: 0;
	height: 6%;
	width: 7%;
	left: 25%;
	z-index: 11;
}
#splash2{
	display: none;
	position: absolute;
	background-image: url('../image/splash.png');
	bottom: 0;
	height: 6%;
	width: 7%;
	left: 45%;
	z-index: 11;
}
#splash3{
	display: none;
	position: absolute;
	background-image: url('../image/splash.png');
	bottom: 0;
	height: 6%;
	width: 7%;
	left: 65%;
	z-index: 11;
}

#basket {
	 height:200px;
	 width:200px;
	 position: absolute;
}

#base {
	background-image: url('../image/base.jpg');
	background-repeat: repeat-x;
	width: 100vw;
	height: 15vh;
	z-index: -50;
	margin-top: 81vh;
}
