* {
	padding: 0;
	margin: 0;
}
body {
	background-image: url("../image/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.chick img {
	height: 300px;
	width: 200px;
	position: absolute;
	left: 44%;
}
.startbtn {
  border: none;
  color: green;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
	top: 55%;
	left: 45%;
}
.startbtn:hover {
  background-color: #4CAF50;
  color: white;
}
.button{
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
